<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
          rel="stylesheet"  type='text/css'>
    <link rel="apple-touch-icon" href="/docs/5.1/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.1/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.1/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">
    <title> {{ index_title }} </title>
    <script>
    $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
  </script>
    <style>
        .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

  </style>
</head>

<body>
<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="link-secondary" href="#">Subscribe</a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="#">Posts</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="link-secondary" href="#" aria-label="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
                </a>
                <a class="btn btn-sm btn-outline-secondary" href="/login">Login</a>
            </div>
        </div>
    </header>


<div class="wrapper">
    <!-- Sidebar  -->


    <!-- Page Content  -->


        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                <a class="p-2 link-secondary" href="#">World</a>
                <a class="p-2 link-secondary" href="#">U.S.</a>
                <a class="p-2 link-secondary" href="#">Technology</a>
                <a class="p-2 link-secondary" href="#">Design</a>
                <a class="p-2 link-secondary" href="#">Culture</a>
                <a class="p-2 link-secondary" href="#">Business</a>
                <a class="p-2 link-secondary" href="#">Politics</a>
                <a class="p-2 link-secondary" href="#">Opinion</a>
                <a class="p-2 link-secondary" href="#">Science</a>
                <a class="p-2 link-secondary" href="#">Health</a>
                <a class="p-2 link-secondary" href="#">Style</a>
            </nav>
        </div>

        <h2>POSTS</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <div class="container">

            <form>
                <label for="blog">Filter by category:</label>
                <select onchange="getval(this);" id="category" name="blog" id="blog">
                    <option id="category_name_gen">All</option>
                    {% let name = " " %}
                    {% for name in index_sec %}
                    <option id="sec">{{ name }}</option>
                    {% endfor %}
                </select>
            </form>
            <br><br>


            <!--		<div class="links">-->
            <!--			<ul>-->
            <!--			{% for item in index_links %}-->
            <!--				<li><a href="/post/{{ item}}">{{ item }}</a></li><br/>-->
            <!--				<p>Description ...</p>-->
            <!--			{% endfor %}-->
            <!--		   </ul>-->
            <!--		</div>-->

            <main class="container">
                {% for item in index_links %}
                <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
                    <div class="col-md-6 px-0">
                        <h1 class="display-4 fst-italic"><i>{{item}}</i></h1>
                        <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
                        <p class="lead mb-0"><a href="/posts/{{item}}" class="text-white fw-bold">Continue reading...</a></p>
                    </div>
                </div>
                {% endfor %}
            </main>

<!--            <div class="container">-->
<!--                {% for item in index_links %}-->
<!--                <div id="main-content" class="blog-page">-->
<!--                    <div class="container">-->
<!--                        <div class="row clearfix">-->
<!--                            <div class="col-lg-8 col-md-12 left-box">-->
<!--                                <div class="card single_post">-->
<!--                                    <div class="body">-->
<!--                                        <div class="img-post">-->
<!--                                            <img class="d-block img-fluid" src="https://www.bootdey.com/image/800x280/FFB6C1/000000" alt="First slide">-->
<!--                                        </div>-->
<!--                                        <h3><a href="/post/{{item}}">{{item}}</a></h3>-->
<!--                                        <p>Description ...</p>-->
<!--                                    </div>-->
<!--                                    <div class="footer">-->
<!--                                        <div class="actions">-->
<!--                                            <a href="/post/{{item}}" class="btn btn-outline-secondary">Continue Reading</a>-->
<!--                                        </div>-->
<!--                                        <ul class="stats">-->
<!--                                            <li><a href="javascript:void(0);">General</a></li>-->
<!--                                            <li><a href="javascript:void(0);" class="fa fa-heart">28</a></li>-->
<!--                                            <li><a href="javascript:void(0);" class="fa fa-comment">128</a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                    {% endfor %}-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div><br/><br/><br/>-->
<!--                <div class="row">-->
<!--                    <div class="col-12">-->
<!--                        <table class="table table-bordered">-->
<!--                            <thead>-->
<!--                            <tr>-->
<!--                                <th scope="col">Post Title</th>-->
<!--                                <th scope="col">Post Body</th>-->
<!--                                <th scope="col">Timestamp</th>-->
<!--                                <th scope="col">Actions</th>-->
<!--                            </tr>-->
<!--                            </thead>-->
<!--                            <tbody>-->
<!--                            {% for item in index_links %}-->
<!--                            <tr>-->
<!--                                <td><a href="/post/{{ item}}">{{item}}</a> </td>-->
<!--                                <td>Description</td>-->
<!--                                <td>20th May</td>-->
<!--                                <td>-->
<!--                                    <a href="/post/{{ item}}" type="button" class="btn btn-primary"><i class="fa fa-edit"></i></a>-->
<!--                                    <a href="/delete/{{item}}" type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>-->
<!--                                </td>-->

<!--                            </tr>-->
<!--                            {% endfor %}-->

<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </div>-->
<!--                </div>-->

            <nav aria-label="Page navigation">
            <ul class="pagination">
                {% for i in page_nav_links %}
                <li class="page-item">
                    <a class="page-link" href="http://0.0.0.0:4000/page/{{ i }}" >{{ i }}</a>
                </li><br/><br/>
                {% endfor %}
            </ul>
        </nav><br><br><br>
            <!--		<h2>Get Started, Create a Blog</h2><br/><br/>-->

            <!--		<form action="/create_post" method="post">-->
            <!--&lt;!&ndash;			<label><b>Post Id</b></label>&ndash;&gt;-->
            <!--&lt;!&ndash;			<input type="number" placeholder="Enter Post Id" name="post_id">&ndash;&gt;-->

            <!--			<label><b>Post Title</b></label>-->
            <!--			<input type="text" placeholder="Enter Post Title" name="post_title">-->

            <!--			<label><b>Post Body</b></label>-->
            <!--			<input type="text" placeholder="Enter Post Description" name="post_body">-->

            <!--			<select id="category_name" name="category_name">-->
            <!--				<option id="category_name_gen_2">&#45;&#45;Select&#45;&#45;</option>-->
            <!--				{% let name = " " %}-->
            <!--				{% for name in index_sec %}-->
            <!--				<option id="category_name_specific">{{ name }}</option>-->
            <!--				{% endfor %}-->
            <!--			</select>-->

            <!--			<button type="submit">Create Post</button><br/><br/><br/>-->



            <!--		</form>-->

            <!--	<h2>Or, Create a Category</h2><br/><br/>-->

            <!--	<form action="/create_category" method="post">-->

            <!--	<label><b>Category Name</b></label>-->

            <!--	<input type="text" placeholder="Enter Category Name" name="category_name">-->

            <!--	<button type="submit">Create Category</button><br/><br/><br/>-->

            <!--	<a href="/show_categories">Show Categories</a><br/><br/><br/>-->

            <!--	</form>-->

    </div>
</div>
        </div>
    </div>
</div>
</body>

<script>
        function getval(sel){
        window.location.replace("http://0.0.0.0:4000/posts/category/"+sel.value);
        let element  = document.getElementById("category");

        element.value = sel.value;
        }
    </script>
</html>
