<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form action="/create_post" method="post">
  <label><b>Id</b></label>
  <input type="text" placeholder="Enter Post Id" name="user_name">

  <label><b>Post Title</b></label>
  <input type="password" placeholder="Enter Password" name="password">

  <label><b>Post Description</b></label>
  <input type="password" placeholder="Enter Post Description" name="password">

  <button type="submit">Create Post</button>


</form>

</body>
</html>